.pad {
	padding: 2rem;
}

.rel {
	position: relative;
}
.side {
	position: fixed;
	top: 60px;
	right: 10px;
	min-width: 300px;
	padding: 1rem;
	border-left: 1px solid #ccc;
	.sod {
		font-weight: bold;
		margin-bottom: 1rem;
	}
	.list div {
		margin-bottom: 0.5rem;
		cursor: pointer;
		padding-left: 1rem;
		transform: translateX(-1rem);
		&:hover {
			color: $accent;
		}
	}
}
.grid {
	padding: 2rem;
	padding-top: 0;
	display: grid;
	grid-template-columns: 1fr 300px;
	gap: 1rem;
}

.version {
	font-size: 1.5rem;
	border-bottom: 1px solid #ccc;
	margin-top: 3rem;
	display: flex;
	justify-content: space-between;
	align-tems: center;
	.date {
		font-size: 0.9rem;
		color: grey;
	}
}

.hd {
	padding-right: 13px;
	.q-item__label {
		font-size: 1.2rem;
	}
}

.q-tree__node-body {
	margin: 0;
}
.bad {
	background-color: $accent;
	padding: 0 1rem;
	display: flex;
	border-radius: 4px;
	color: #fff;
}

.text {
	line-height: 130%;
}
.text ul,
.text ol {
	// font-size: 1rem;
	margin: 0;
	padding: 0;
	li {
		margin-bottom: 1rem;
		line-height: 130%;
	}
}
