// @import '@/assets/styles/pie-cm_core.min.css';
// @import '@/assets/styles/theme.scss';

body {
	font-size: var(--my-body-font-size);
	color: var(--text-color);
}

.container {
	padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	// padding-bottom: 2rem;
	@media screen and (max-width: 1900px) {
		max-width: 1200px;
		margin: 0 auto;
	}
}

a:link:not(.q-link),
a:visited:not(.q-link) {
	text-decoration: none;
	color: var(--q-link);
}
a:hover:not(.q-link) {
	text-decoration: underline;
}
.q-toolbar .q-avatar {
	font-size: 36px;
}
.q-drawer {
	background: var(--bg-drawer);
	.fill {
		--q-selection: var(--q-primary-lighten-1);
		background: var(--q-primary);
		color: #fff;
	}
}

// table styles **************************************
.q-table tbody .link td {
	color: var(--q-link);
	cursor: pointer;
}

.q-table {
	border-collapse: separate;
	border-spacing: 1px;
	color: var(--text-color);
	thead {
		background-color: #0000001a;
	}
	thead tr {
		height: 32px !important;
	}
}
.q-table tbody tr.both td::after {
	background: #ccc;
}
.q-table__container.izb > div:last-child {
	padding-top: 0.5rem;
}

// q-markup-table style - this is simple table
.q-markup-table .q-table {
	border-collapse: collapse;
	border-spacing: 0;
	tbody td {
		font-size: 0.9rem;
		position: relative;
		color: var(--text-color);
		white-space: normal;
	}
	thead {
		background-color: #e5e5e5;
		th {
			font-size: 0.7rem;
			text-align: left;
			border: 1px solid var(--th-border-color);
			border-right: none;
			font-weight: 400;
		}
		th:first-child {
			border-right: none;
		}
		th:nth-child(2) {
			border-left: none;
		}
		th:last-child {
			border-right: 1px solid var(--th-border-color);
		}
	}
	.small {
		margin: 0;
		padding: 0;
		width: 8px;
	}
	td.small {
		// background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABtJREFUGFdjXLt27f/g4GBGBiiAM2ASjARVAAAxbBAFP9yoPgAAAABJRU5ErkJggg==)
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAAXNSR0IArs4c6QAAABpJREFUGFdjZEACjCD2jh07/nt4eDCCOTAAAEsRBAT/WuYQAAAAAElFTkSuQmCC)
			repeat;
		cursor: pointer;
		border-bottom-color: var(--my-border-color);
	}
	.new td {
		font-weight: 600;
	}
	.new td.small {
		background: var(--q-primary);
	}
}

.q-table--dark,
.q-table--dark .q-table__bottom,
.q-table--dark td,
.q-table--dark thead th,
.q-table--dark thead,
.q-table--dark tr,
.q-table__card--dark {
	border-color: var(--my-border-color);
	background: var(--my-card-background);
	color: var(--my-text-color);

	th {
		background: var(--my-color-step-150);
	}
	th:last-child {
		border-right: 1px solid var(--my-border-color);
	}
	td.small {
		border-bottom-color: var(--my-border-color);
	}
}
.q-splitter--vertical > .q-splitter__separator {
	width: 2px;
	background: transparent;
}
.q-splitter__separator:hover,
.q-splitter__separator:active {
	border-left: 2px dotted black;
	// background: red;
}
.zag {
	color: black;
	text-align: left;
	font-size: 1.4rem;
	span {
		font-size: 0.9rem;
		opacity: 0.6;
		cursor: pointer;
		vertical-align: middle;
	}
	body.body--dark & {
		color: var(--dark-text-color);
	}
}
.q-tab-panels {
	background: transparent;
}
.q-tab-panel {
	padding: 1rem 0;
}
.q-expansion-item__container {
	border-bottom: 1px solid var(--my-border-color);
	.q-card {
		background: transparent;
	}
}
.custom-expansions-item {
	position: relative;
}
.custom-expansions-item .q-expansion-item {
	transition: 0.3s ease all;
	.q-item__label {
		color: var(--q-primary-darken-1);
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 500;
		transform: translateX(-13px);
	}
}
.custom-expansions-item .q-expansion-item--expanded {
	// background: var(--bg-card);
	border-radius: 6px;
	margin: 0.8rem;
	border: 1px solid var(--my-border-color);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	.q-expansion-item__container {
		border-bottom: none;
	}
}
.custom-expansions-item .q-expansion-item.inside {
	border: none;
	box-shadow: none;
	margin: 0;
	// margin-top: -1rem;
	.q-card {
		box-shadow: none;
		border: none;
	}
	.q-item__label {
		text-transform: inherit;
	}
}
.custom-expansions-item.flat .q-expansion-item--expanded {
	margin: 0;
	box-shadow: none;
	border: none;
	// .q-expansion-item__container {
	// 	border-bottom: 1px solid var(--my-border-color);
	// }
}
.q-btn svg {
	margin: auto;
}
.actionBt {
	position: absolute;
	top: 7px;
	right: 16px;
	body.body--dark & {
		color: var(--dark-text-color);
	}
	&.gr svg {
		opacity: 0.7;
		&:hover {
			opacity: 1;
		}
	}
}
.fixhd {
	height: calc(100vh - 160px);
	overflow: hidden;
	font-size: var(--my-body-font-size);
	thead th {
		background-color: #e5e5e5;
		position: sticky;
		z-index: 1;
	}
	thead tr:first-child th {
		top: 0;
	}
	th,
	td {
		&.q-table--col-auto-width {
			padding: 0 4px;
		}
	}
	tbody td {
		font-size: 0.9rem;
		white-space: normal;
	}
	body.body--dark & {
		thead tr th {
			background: var(--my-color-step-150);
		}
	}
	.q-checkbox__inner {
		font-size: 34px;
	}
}
.q-table__bottom {
	background: transparent;
	box-shadow: none;
	width: 100%;
	padding: 0;
	// background: #e5e5e5;
	// box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.2);
	// border-radius: 12px 12px 0px 0px;
}
.q-table__top {
	padding: 0;
}
.filter-input {
	font-size: 1rem;
}
.quick .q-field--dense .q-field__control,
.q-field--dense .q-field__marginal {
	height: 28px !important;
}
.cal .q-date__view {
	padding-bottom: 0 !important;
	min-height: 100px !important;
}
.query .q-placeholder::placeholder {
	opacity: 0.3;
}
// items style
.container {
	.bl {
		border: 1px solid var(--my-border-color);
		justify-content: flex-start;
		padding: 1rem;
		background: var(--bg-drawer);
	}
	.lab {
		font-size: 1rem;
		margin-top: 2rem;
		font-weight: bold;
	}
	.flexi {
		width: 100%;
		display: flex;
		gap: 3rem;
		& > div {
			width: 36%;
		}
	}
}
.ztop {
	position: relative;
	z-index: 7000 !important;
}

.izbfilter button {
	transform: translateY(6px);
}

.q-splitter__before {
	overflow: visible;
	z-index: 2;
}

.fio-pic {
	img {
		width: 36px;
		border-radius: 64px;
		border: 1px solid #808075;
		background: #cce6f9;
	}
}

.fieldset {
	border: 1px solid green;
}

.centercenter {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

// editable selectors
.q-menu.selector {
	min-width: 150px;
}

.table th {
	font-size: 10px;
}
.field {
	.label {
		font-size: 0.7rem;
		color: grey;
	}
	.editable {
		border-bottom: 1px dotted var(--q-link);
		border-radius: 1px;
		&:focus {
			outline: 2px solid orange;
			outline-offset: 2px;
			border: none;
		}
	}
}

.dragtable {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #bbb;
	th {
		background: #dedede;
		font-size: 0.7rem;
		font-weight: 400;
		text-align: left;
		padding: 3px 10px;
		&:not(:last-of-type) {
			border-right: 1px solid white;
		}
	}
	th,
	td {
		padding: 5px 10px;
	}
	td {
		font-size: 0.85rem;
		height: 42px;
		background: #fff;
	}
	tr {
		border-bottom: 1px solid #bbb;
		position: relative;
		height: 100%;
		.bt {
			cursor: pointer;
			position: absolute;
			right: 3px;
			top: 50%;
			transform: translateY(-50%);
			display: none;
		}
		&:hover {
			.bt {
				display: block;
			}
		}
	}
}

.rel {
	position: relative;
	// height: 100%;
	// background: pink;
}

.q-tree__node--selected {
	background: var(--q-primary-selection);
	.q-tree__node-header-content {
		color: var(--q-primary-darken-2);
		font-weight: bold;
	}
}

.q-field--dense .q-field__control {
	height: 32px;
}

.tree .q-tree__arrow {
	font-size: 23px;
}

.q-popup-edit {
	border: 1px solid var(--q-primary);
}

.notific {
	transition: all 0.5s ease;
}

.tree .q-tree__node-header:hover {
	background: #f5f5f5;
}
.tree .q-tree__node--selected.q-tree__node-header:hover {
	background: var(--q-primary-selection);
}
