@import './animation.scss';

.pad {
	padding: 2rem;
}
.zag {
	font-size: 1.8rem;
}
.zg {
	font-size: 2.3rem;
	margin-bottom: 1.5rem;
}
p,
ul,
ol {
	font-size: 1.2rem;
}

.rel {
	position: relative;
}
.side {
	position: fixed;
	top: 150px;
	right: 10px;
	min-width: 300px;
	padding: 1rem;
	border-left: 1px solid #ccc;
	.sod {
		font-weight: bold;
		margin-bottom: 1rem;
	}
	.list div {
		margin-bottom: 0.5rem;
		cursor: pointer;
		&:hover {
			color: $accent;
		}
	}
}
.grid {
	padding: 2rem;
	display: grid;
	grid-template-columns: 1fr 300px;
	gap: 1rem;
}

.version {
	font-size: 1.5rem;
	border-bottom: 1px solid #ccc;
	margin-top: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.date {
		font-size: 0.9rem;
		color: grey;
	}
}

.hd .q-item__label {
	font-size: 1.2rem;
}

.q-tree__node-body {
	margin: 0;
}
.bad {
	background-color: $accent;
	padding: 0 1rem;
	display: flex;
	border-radius: 4px;
	color: #fff;
}
